body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    background-color: #282F44;
    padding: 20px;
    flex-direction: column;
    color: white;
}

.header {
    font-size: 48px;
    margin-bottom: 16px;
}

.info {
    margin-bottom: 48px;
}

#container{
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    height: 420px;
}

#display{
    flex: 1;
    background-color: #453A49;
    border: 1px #191D32 solid;
    height: 70px;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #beeefa;
}



#rowOne, #rowTwo, #rowThree, #rowFour, #rowFive{
    display: flex;
    flex: 1;
    width: 420px;
    height: 70px;
}

button{
    flex: 1;
    background-color: #6D3B47;
    border: 1px #191D32 solid;
    font-size: 24px;
    color: white;
    text-shadow: 1px 1px 2px #191D32;
    font-weight: bold;
}

button:active{
    background-color: #f5d0e4;
}

button:disabled{
    background-color: #726676;
}